.wrap {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.side-menu-wrap {
    background: #fff;
    position: relative;
    display: flex;
}

.button-red {
    border: 2px solid #df3800;
    background: #fff;
    color: #df3800;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: normal;
    padding: 10px 10px;
    font-size: 14px;
}

.button-red:hover,
.button-red:focus {
    border: 2px solid #df3800;
    background: #df3800;
    color: #fff;
}

.button-red:focus {
    outline: none;
}

.pivot-example-container {
    float: left;
    width: 75%;
    min-width: 605px;
    padding: 30px 40px;
    background: #fff;
    padding-top: 0;
}